
#traffic-light {
//height: 550px;
//width: 200px;
background-color: #333;
float: left;
border-radius: 10px;
margin: 10px 0;
padding: 10px 20px;
}

.bulb {
height:30px;
width:30px;
background-color: #111;
border-radius: 50%;margin: 5px auto;
margin: 5px auto;
transition: background-color 0.5s
}

#controlPanel {
float:left;
padding-top: 30px;
}

.button {
background-color: gray;
color: white;
border-radius: 10px;
padding: 0 20px;
text-align: center;
margin: 10px 40px;
}
